h1, h2, h3{
    color: #ababab
}
p{
    color: #7e7e7e;
}
.trending-list{
    list-style: none;
    box-shadow: 0 0 38px rgb(0 0 0 / 75%);

}
span{
    font-size: 25px !important;
}
.css-106c1u2-MuiBadge-badge{
    height: 31px !important;
}