h1, h2, h3{
    color: #ababab
}
p{
    color: #7e7e7e;
}
.trending-list{
    list-style: none;
    box-shadow: 0 0 38px rgb(0 0 0 / 75%);

}
span{
    font-size: 25px !important;
}

.movie-images{
    width: 100%;
    height: auto;
}
.trending{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 12px;
}
@media screen and (max-width: 500px){
    .trending{
        display: inherit;

    }
    
}
