h1, h2, h3{
    color: #ababab
}
p{
    color: #7e7e7e;
}
ul{
    margin-right: 2%;
    
    
}
li{
    list-style: none;
    margin-right: 2%;
    margin-bottom: 5%;
    box-shadow: 0 0 38px rgb(0 0 0 / 75%);
    padding-bottom: 1%;
    
}
@media screen and (min-width: 1080px){
    li{
        margin-right: 25%;
        margin-bottom: 5%;
        margin-left: 25%;
    }
}

    