h1, h2, h3{
    color: #ababab
}
p{
    color: #7e7e7e;
}
ul{
    margin-right: 2%;
    
    
}
li{
    list-style: none;
    margin-right: 2%;
    margin-bottom: 5%;
    box-shadow: 0 0 38px rgb(0 0 0 / 75%);
    padding-bottom: 1%;
    
}
.movie-images{
    width: -webkit-fill-available;
}
.search-results{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 12px;
}
#outlined-basic{
    background-color: white;
    width: 21rem;
}

@media screen and (min-width: 600px){
    li{
        margin-right: 25%;
        margin-bottom: 5%;
        margin-left: 25%;
    }
    
}
@media screen and (max-width: 500px){
    .trending{
        display: inherit;

    }
    
}


    