h1, h2, h3{
    color: #ababab
}
p{
    color: #7e7e7e;
}
li{

    list-style: none;
    margin-right: 2%;
    margin-bottom: 5%;
    box-shadow: 0 0 38px rgb(0 0 0 / 75%);
    padding-bottom: 1%;
    
}
.search-images{
    width: -webkit-fill-available;
    background-color: #1a1a1d;
}
.search-results{
    background-color: rgb(0 0 0 / 45%);
    z-index: 3;
    position: absolute;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 12px;

}
#outlined-basic{
    background-color: white;
    width: 21rem;
}

@media screen and (min-width: 600px){
    li{
        margin-right: 25%;
        margin-bottom: 5%;
        margin-left: 25%;
    }
    .search-images{
        margin-right: 35%;
        margin-bottom: 5%;
        margin-left: 35%;
    }
    
}

@media screen and (max-width: 600px) {
    .movie-images{
        margin-bottom: 5%;
    }
    ul{
        padding: 5%;
    }
}
@media screen and (max-width: 1400px) {
    
}
    